@import url("https://fonts.googleapis.com/css2?family=Jura:wght@400;600&family=Oooh+Baby&family=Rampart+One&family=Rock+Salt&family=Schoolbell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(127, 255, 212, 1);
  font-family: "Oooh Baby", cursive;
}
