.mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: #12835d;
  gap: 5%;
  position: relative;
  user-select: none;
}

.header {
  h1 {
    font-family: "Oooh Baby", cursive;
    color: white;
    text-shadow: 8px 7px 5px rgba(66, 68, 90, 1);
    font-size: 3rem;

    span {
      font-size: 2.5rem;
    }
  }
}

.important {
  font-weight: 700;
  font-size: 2rem;
  color: #f44;
  text-shadow: 8px 7px 5px rgba(166, 68, 90, 1);
  text-align: center;
}

.cprights {
  font-family: Poppins;
  position: absolute;
  left: 0.1vw;
  bottom: 0;
}

.decorator {
  position: absolute;
  pointer-events: none;

  &-1 {
    font-size: 5rem;
    left: 5vw;
    top: 12vh;
    rotate: -30deg;
    animation: icon1 6s infinite ease-in-out;
  }

  &-2 {
    font-size: 4.5rem;
    right: 6vw;
    bottom: 10vh;
    rotate: 35deg;
    animation: icon2 6s infinite ease-in-out;
  }

  &-3 {
    font-size: 4rem;
    right: 3vw;
    top: 11vh;
    rotate: 15deg;
    animation: icon3 6s infinite ease-in-out;
  }

  &-4 {
    font-size: 3rem;
    left: 4vw;
    bottom: 15vh;
    rotate: 150deg;
    animation: icon4 6s infinite ease-in-out;
  }

  &-5 {
    font-size: 6rem;
    left: 25vw;
    animation: icon5n6 6s infinite linear;
  }

  &-6 {
    font-size: 6rem;
    right: 25vw;
  }
  animation: icon5n6 6s infinite linear;
}

@keyframes icon1 {
  0% {
    top: 12vh;
  }
  50% {
    top: 8vh;
  }
  100% {
    top: 12vh;
  }
}

@keyframes icon2 {
  0% {
    bottom: 10vh;
  }
  50% {
    bottom: 14vh;
  }
  100% {
    bottom: 10vh;
  }
}

@keyframes icon3 {
  0% {
    top: 11vh;
  }
  50% {
    top: 7vh;
  }
  100% {
    top: 11vh;
  }
}
@keyframes icon4 {
  0% {
    bottom: 15vh;
  }
  50% {
    bottom: 19vh;
  }
  100% {
    bottom: 15vh;
  }
}

@keyframes icon5n6 {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
